<!DOCTYPE html>
<html>
<head>
  <title>Nged</title>
  <%= stylesheet_link_tag    "nged/application", :media => "all" %>
  <%= javascript_include_tag "nged/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
Bdssfdsfdfdssd
<%= yield %>

</body>
</html>
